{% load verbatim %}
{% verbatim %}

<form data-file-upload="options" method="post" enctype="multipart/form-data">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancelButton()">&times;</button>
		<h3>Update model</h3>
	</div>
	<div class="modal-body">
		<div class="alert alert-error" ng-show="modal.error.show">
			<button type="button" class="close" ng-click="closeAlert()">&times;</button>
			<strong>Error!</strong> {{modal.error.message}}
		</div>
		<div class="alert alert-success" ng-show="modal.success.show">
			<button type="button" class="close" ng-click="closeAlert()">&times;</button>
			{{modal.success.message}}
		</div>
		<div class="alert" ng-show="modal.waiting.show">
			<button type="button" class="close" ng-click="closeAlert()">&times;</button>
			{{modal.waiting.message}} <img alt="" src="../../../static/img/ajax-loader.gif" />
		</div>

		<div class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="selectStatus">Set model status</label>
				<div class="controls">
					<select id="selectStatus" ng-model="upload.status" name="simcodealg">
						<option ng-repeat="status in modelStatuses" value="{{status.id}}">{{status.value}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Update</button>
		<button class="btn btn-primary" ng-click="cancelButton()">{{modal.finishButton}}</button>
	</div>
</form>

{% endverbatim %}