.project
.pydevproject
*.pyc
credentials.py
rdbinfo.py
/nbproject/
/physics_dev/physics_django/documents/
/physics_dev/physics_django/runtracy/
_build
/utest/idods/clientapi/downloadedfile
/utest/idods/clientapi/downloadedfile2
/utest/idods/clientapi/large
/utest/idods/clientapi/large2
/utest/idods/dataapi/download_128
/utest/idods/dataapi/download_4
/example/nsls2idods/file10mb.txt
/example/nsls2idods/result