{% load verbatim %}
{% verbatim %}

<!DOCTYPE html>
<html lang="en" ng-app="measurementdataapp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Measurement Data</title>

		<link href="../../../static/css/bootstrap3.min.css" rel="stylesheet">
		<link href="../../../static/css/xeditable.css" rel="stylesheet">
		<link href="../../../static/css/measurement/style.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="shortcut icon" href="../../../static/img/favicon_ai.png">
	</head>
	<body ng-controller="indexCtrl">

		<div id="contents" app-view-segment="0"></div>

		<script src="../../../static/js/jquery-2.1.0.min.js"></script>
		<script src="../../../static/js/bootstrap3.min.js"></script>
		<script src="../../../static/js/angular.min.js"></script>
		<script src="../../../static/js/angular-route.min.js"></script>
		<script src="../../../static/js/angular-route-segment.min.js"></script>
		<script src="../../../static/js/xeditable.min.js"></script>

		<script src="../../../static/js/master_configuration.js"></script>
		<script src="../../../static/js/measurementdataapp/configuration.js"></script>
		<script src="../../../static/js/idodsapp/common.js"></script>
		<script src="../../../static/js/ui-bootstrap-tpls-0.9.0.min.js"></script>

		<script src="../../../static/js/measurementdataapp/app.js"></script>
		<script src="../../../static/js/idodsapp/values.js"></script>
		<script src="../../../static/js/measurementdataapp/controller.js"></script>
		<script src="../../../static/js/measurementdataapp/ct_controller.js"></script>
		<script src="../../../static/js/idodsapp/services.js"></script>
		<script src="../../../static/js/idodsapp/filters.js"></script>
 	</body>
</html>
{% endverbatim %}