{% load verbatim %}
{% verbatim %}

<div class="alert" ng-class="{'alert-success': alert.success, 'alert-danger': !alert.success}" ng-show="alert.show">
	<button type="button" class="close" ng-click="closeAlert()">&times;</button>
	<strong>{{alert.title}}</strong> {{alert.body}}
</div>

<div ng-if="urlStatus == 'editable'" class="table-responsive">
	<table class="table table-bordered table-hover table-condensed">
		<tr>
			<th>Cell</th>
			<th>Element Name</th>
			<th>Element Type</th>
			<th>s</th>
			<th>BPM-SR</th>
			<th>AI Offset Limit Hor. (AIOLH)</th>
			<th>BPM-SR</th>
			<th>AI Offset Limit Ver. (AIOLV)</th>
			<th></th>
		</tr>
		<tr ng-repeat="bm in bmArr">
			<td ng-class="{'danger': bm.prop_statuses['bm_cell'] && bm.prop_statuses['bm_cell'] == 2}">
				<span class="edit-wrapper">
					<a href="#" onbeforesave="updateItem(bm, 'bm_cell', $data)" class="edit" editable-text="bm.bm_cell">{{bm.bm_cell || '&nbsp;'}}</a>
				</span>
				<button ng-click="approveCell(bm, 'bm_cell')" ng-if="bm.prop_statuses['bm_cell'] && bm.prop_statuses['bm_cell'] == 2" class="btn btn-sm btn-default" style=""><i style="color: #a94442;" class="glyphicon glyphicon-check glyphicon-white"></i></button>
			</td>
			<td>
				<span class="edit-wrapper">
					<a href="#" onbeforesave="updateItemFixed(bm, 'name', $data)" class="edit" editable-text="bm.name">{{bm.name || '&nbsp;'}}</a>
				</span>
			</td>
			<td>{{bm.bm_type || '&nbsp;'}}</td>
			<td ng-class="{'danger': bm.prop_statuses['bm_s'] && bm.prop_statuses['bm_s'] == 2}">
				<span class="edit-wrapper">
					<a href="#" onbeforesave="updateItem(bm, 'bm_s', $data)" class="edit" editable-text="bm.bm_s">{{bm.bm_s || '&nbsp;'}}</a>
				</span>
				<button ng-click="approveCell(bm, 'bm_s')" ng-if="bm.prop_statuses['bm_s'] && bm.prop_statuses['bm_s'] == 2" class="btn btn-sm btn-default" style=""><i style="color: #a94442;" class="glyphicon glyphicon-check glyphicon-white"></i></button>
			</td>
			<td>
				<span class="edit-wrapper">
					<a href="#" onbeforesave="updateItemFixed(bm, 'logic', $data)" class="edit" editable-select="bm.logic" e-ng-options="name for name in logicArr">{{bm.logic || '&nbsp;'}}</a>
				</span>
			</td>
			<td ng-class="{'danger': bm.prop_statuses['bm_aiolh'] && bm.prop_statuses['bm_aiolh'] == 2}">
				<span class="edit-wrapper">
					<a href="#" onbeforesave="updateItem(bm, 'bm_aiolh', $data)" class="edit" editable-text="bm.bm_aiolh">{{bm.bm_aiolh || '&nbsp;'}}</a>
				</span>
				<button ng-click="approveCell(bm, 'bm_aiolh')" ng-if="bm.prop_statuses['bm_aiolh'] && bm.prop_statuses['bm_aiolh'] == 2" class="btn btn-sm btn-default" style=""><i style="color: #a94442;" class="glyphicon glyphicon-check glyphicon-white"></i></button>
			</td>
			<td>
				<span class="edit-wrapper">
					<a href="#" onbeforesave="updateItemFixed(bm, 'logic', $data)" class="edit" editable-select="bm.logic" e-ng-options="name for name in logicArr">{{bm.logic || '&nbsp;'}}</a>
				</span>
			</td>
			<td ng-class="{'danger': bm.prop_statuses['bm_aiolv'] && bm.prop_statuses['bm_aiolv'] == 2}">
				<span class="edit-wrapper">
					<a href="#" onbeforesave="updateItem(bm, 'bm_aiolv', $data)" class="edit" editable-text="bm.bm_aiolv">{{bm.bm_aiolv || '&nbsp;'}}</a>
				</span>
				<button ng-click="approveCell(bm, 'bm_aiolv')" ng-if="bm.prop_statuses['bm_aiolv'] && bm.prop_statuses['bm_aiolv'] == 2" class="btn btn-sm btn-default" style=""><i style="color: #a94442;" class="glyphicon glyphicon-check glyphicon-white"></i></button>
			</td>
			<td>
				<button ng-click="approveRow(bm)" class="btn btn-default">Approve</button>
				<button ng-click="addRow(bm)" class="btn btn-default">Copy&Create</button>
			</td>
		</tr>
		<tr ng-if="newBm">
			<td ng-repeat="prop in newBm.save_display track by $index">
				<span class="form-group" ng-class="{'has-error': error[prop]}">
					<input ng-if="prop != 'logic'" type="text" ng-model="newBm[prop]" ng-disabled="prop == 'bm_type'" class="form-control input-sm" />
					<select ng-if="prop == 'logic'" ng-options="name for name in logicArr" type="text" ng-model="newBm[prop]" class="form-control input-sm"></select>
				</span>
			</td>
			<td>
				<button ng-click="saveItem(newBm)" class="btn btn-warning">Add</button>
				<button ng-click="cancel()" class="btn btn-default">Cancel</button>
			</td>
		</tr>
		<tr>
			<td colspan="9"><button ng-click="addRow()" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> Add new device</button></td>
		</tr>
	</table>
</div>

<div ng-if="urlStatus != 'editable'" class="table-responsive">
	<table class="table table-bordered table-hover table-condensed">
		<tr>
			<th>Cell</th>
			<th>Element Name</th>
			<th>Element Type</th>
			<th>s</th>
			<th>BPM-SR</th>
			<th>AI Offset Limit Hor. (AIOLH)</th>
			<th>BPM-SR</th>
			<th>AI Offset Limit Ver. (AIOLV)</th>
		</tr>
		<tr ng-repeat="bm in bmArr">
			<td>{{bm.bm_cell || '&nbsp;'}}</td>
			<td>{{bm.name || '&nbsp;'}}</td>
			<td>{{bm.bm_type || '&nbsp;'}}</td>
			<td>{{bm.bm_s || '&nbsp;'}}</td>
			<td>{{bm.logic || '&nbsp;'}}</td>
			<td>{{bm.bm_aiolh || '&nbsp;'}}</td>
			<td>{{bm.logic || '&nbsp;'}}</td>
			<td>{{bm.bm_aiolv || '&nbsp;'}}</td>
		</tr>
	</table>
</div>

{% endverbatim %}