{% load verbatim %}
{% verbatim %}

<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Active Interlock <span class="version" ng-bind="version"></span></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ng-class="{active: urlStatus == 'editable'}"><a ng-click="goTo('editable')" href="">Editable <span class="badge">{{statuses.editable}}</span></a></li>
				<li ng-class="{active: urlStatus == 'approved'}"><a ng-click="goTo('approved')" href="">Approved <span class="badge">{{statuses.approved}}</span></a></li>
				<li ng-class="{active: urlStatus == 'active'}"><a ng-click="goTo('active')" href="">Active <span class="badge">{{statuses.active}}</span></a></li>
				<li ng-class="{active: urlStatus == 'backup'}"><a ng-click="goTo('backup')" href="">Backup <span class="badge">{{statuses.backup}}</span></a></li>
				<li ng-class="{active: path == '/history/'}"><a href="#/history/">History <span class="badge">{{statuses.history}}</span></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">

				{% endverbatim %}
				{% if user.is_authenticated %}

					<a href="#" class="dropdown-toggle" id="loginButton" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{user.username}} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href ng-click="logout()">Sign out</a></li>
					</ul>

				{% else %}

					<a href="#" class="dropdown-toggle" id="loginButton" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Guest <b class="caret"></b></a>
					<div class="dropdown-menu user_dropdown_menu">
						<form role="form">
							<legend>Sign in</legend>

							<div class="form-group">
								<label for="inputUsername">Username</label>
								<input type="text" class="form-control" ng-model="login.username" id="inputUsername" placeholder="Enter username ...">
							</div>

							<div class="form-group">
								<label for="inputPassword">Password</label>
								<input type="password" class="form-control" ng-model="login.password" id="inputPassword" placeholder="Enter password ...">
							</div>

							<button class="btn btn-info" ng-click="login()">Sign in</button>

							<span class="login_error" ng-show="login.message" class="login_error"><br/>The username or password is incorrect!</span>
						</form>
					</div>

				{% endif %}
				{% verbatim %}
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<div app-view-segment="1"></div>

{% endverbatim %}