{% load verbatim %}
{% verbatim %}

<div>
	<ul class="nav nav-tabs">
		<li ng-class="{active: urlTab == 'bm'}"><a href="#/dataset/{{datasetId}}/tab/bm/bm/">AI-BM</a></li>
		<li ng-class="{active: urlTab == 'id'}"><a href="#/dataset/{{datasetId}}/tab/id/id/">AI-ID</a></li>
		<li ng-class="{active: urlTab == 'logic'}"><a href="#/dataset/{{datasetId}}/tab/logic/logic/">Logic</a></li>
	</ul>
</div>

<br />

<div class="table-responsive id-table">
	<table class="table table-bordered table-hover table-condensed">
		<tr>
			<th colspan="4"></th>
			<th colspan="6">NSLS II Active Interlock Envelope (AIE)</th>
			<th colspan="30">AI EPS & Logic for e-beam within the phase space of AIE-ID (dumped otherwise)</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th colspan="2">Radiation source</th>
			<th></th>
			<th colspan="6">AIE-ID</th>
			<th colspan="3"></th>
			<th colspan="3">BPM-ID1 (s1)</th>
			<th rowspan="3">Logic</th>
			<th colspan="3">BPM-ID2 (s2)</th>
			<th colspan="5">E-beam (s3)</th>
			<th colspan="3"></th>
			<th colspan="3">BPM-ID1 (s1)</th>
			<th rowspan="3">Logic</th>
			<th colspan="3">BPM-ID2 (s2)</th>
			<th colspan="5">E-beam (s3)</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th colspan="2"></th>
			<th></th>
			<th colspan="3"></th>
			<th colspan="2">Lattice</th>
			<th></th>
			<th colspan="3"></th>
			<th colspan="3">Down-stream of Str. Sect.</th>
			<th colspan="3">Up-stream of Str. Sect.</th>
			<th colspan="5">AIE location</th>
			<th colspan="3"></th>
			<th colspan="3">Down-stream of Str. Sect.</th>
			<th colspan="3">Up-stream of Str. Sect.</th>
			<th colspan="5">AIE location</th>
			<th></th>
		</tr>
		<tr>
			<th>Cell</th>
			<th>Type</th>
			<th>Set</th>
			<th>Str. sect.</th>
			<th>AIE Name</th>
			<th>Shape</th>
			<th>Defined by</th>
			<th>Name</th>
			<th>Position (s3)</th>
			<th>Pos. from cent. Str. Sect.</th>
			
			<th>Max. offset</th>
			<th>Max. angle</th>
			<th>Extra offset</th>
			<th>Lattice position (s1)</th>
			<th>Pos. from cent. Str. Sect.</th>
			<th>Offset</th>
			<th>Lattice position (s2)</th>
			<th>Pos. from cent. Str. Sect.</th>
			<th>Offset</th>
			<th>Lattice position (s3)</th>
			<th>Pos. from cent. Str. Sect.</th>
			<th>Offset</th>
			<th>Logic</th>
			<th>Angle</th>
			
			<th>Max. offset</th>
			<th>Max. angle</th>
			<th>Extra offset</th>
			<th>Lattice position (s1)</th>
			<th>Pos. from cent. Str. Sect.</th>
			<th>Offset</th>
			<th>Lattice position (s2)</th>
			<th>Pos. from cent. Str. Sect.</th>
			<th>Offset</th>
			<th>Lattice position (s3)</th>
			<th>Pos. from cent. Str. Sect.</th>
			<th>Offset</th>
			<th>Logic</th>
			<th>Angle</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>m</th>
			<th>m</th>
			
			<th>mm</th>
			<th>mrad</th>
			<th></th>
			<th>m</th>
			<th>m</th>
			<th>mm</th>
			<th></th>
			<th>m</th>
			<th>m</th>
			<th>mm</th>
			<th>m</th>
			<th>m</th>
			<th>mm</th>
			<th></th>
			<th>mrad</th>

			<th>mm</th>
			<th>mrad</th>
			<th></th>
			<th>m</th>
			<th>m</th>
			<th>mm</th>
			<th></th>
			<th>m</th>
			<th>m</th>
			<th>mm</th>
			<th>m</th>
			<th>m</th>
			<th>mm</th>
			<th></th>
			<th>mrad</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>|x1|&lt;</th>
			<th></th>
			<th></th>
			<th></th>
			<th>|x2|&lt;</th>
			<th></th>
			<th></th>
			<th>|x1+(x2-x1)*(s3-s1)/(s2-s1)|&lt;</th>
			<th></th>
			<th>|(x2-x1)/(s2-s1)|&lt;</th>

			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>|y1|&lt;</th>
			<th></th>
			<th></th>
			<th></th>
			<th>|y2|&lt;</th>
			<th></th>
			<th></th>
			<th>|y1+(y2-y1)*(s3-s1)/(s2-s1)|&lt;</th>
			<th></th>
			<th>|(y2-y1)/(s2-s1)|&lt;</th>
			<th></th>
		</tr>
		<tr ng-if="true" ng-repeat="id in idArr">
			<td ng-repeat="prop in id.save_display">
				{{id[prop] || '&nbsp;'}}
			</td>
			<td>
			</td>
		</tr>
	</table>
</div>

{% endverbatim %}