<div class="content">
	<div class="form-group col-sm-5">
		<input type="text" class="form-control input-sm" placeholder="Filter history ..." />
	</div>

	<div class="table-responsive">
		<table class="table table-bordered table-hover table-condensed">
			<tr>
				<th>Description</th>
				<th>Created by</th>
				<th>Created date</th>
				<th>Modified by</th>
				<th>Modified date</th>
				<th></th>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><button class="btn btn-default">Show</button></td>
			</tr>
		</table>
	</div>
</div>