{% load verbatim %}
{% verbatim %}

<div>
	<ul class="nav nav-tabs">
		<li ng-class="{active: urlTab == 'bm'}"><a href="#/dataset/{{datasetId}}/tab/bm/bm/">SR-BPM</a></li>
		<li ng-class="{active: urlTab == 'id'}"><a href="#/dataset/{{datasetId}}/tab/id/id/">ID-BPM</a></li>
		<li ng-class="{active: urlTab == 'logic'}"><a href="#/dataset/{{datasetId}}/tab/logic/logic/">Logic</a></li>
	</ul>
</div>

<br />

<div class="table-responsive">
	<table class="table table-bordered table-hover table-condensed">
		<tr>
			<th colspan="2">Cell</th>
			<th rowspan="2">Element Name</th>
			<th rowspan="2">Element Type</th>
			<th rowspan="2">s<br/>
				<i ng-class="(orderByField == 'bm_s' && reverseSort == false) ? 'sort_button_active' : 'sort_button'" ng-click="checkArrays('bm_s', false); orderByField='bm_s'; reverseSort = false" class="glyphicon glyphicon-chevron-up"></i>
				<i ng-class="(orderByField == 'bm_s' && reverseSort == true) ? 'sort_button_active' : 'sort_button'" ng-click="checkArrays('bm_s', true); orderByField='bm_s'; reverseSort = true" class="glyphicon glyphicon-chevron-down"></i>
			</th>
			<th rowspan="2">BPM-SR</th>
			<th rowspan="2">AI Offset Limit Hor. (AIOLH)</th>
			<th rowspan="2">AI Offset Origin Hor. (AIORH)</th>
			<th rowspan="2">BPM-SR</th>
			<th rowspan="2">AI Offset Limit Ver. (AIOLV)</th>
			<th rowspan="2">AI Offset Origin Ver. (AIORV)</th>
			<th rowspan="2">Safe current</th>
			<th rowspan="2">In use</th>
		</tr>
		<tr>
			<th></th>
			<th>Sequence</th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>mm</th>
			<th>mm</th>
			<th></th>
			<th>mm</th>
			<th>mm</th>
			<th>mA</th>
			<th></th>
		</tr>
		<tbody>
		<tr ng-repeat="bm in bmArr">
			<td>{{bm.bm_cell || '&nbsp;'}}</td>
			<td>{{bm.bm_sequence || '&nbsp;'}}</td>
			<td>{{bm.name || '&nbsp;'}}</td>
			<td>{{bm.bm_type || '&nbsp;'}}</td>
			<td>{{bm.bm_s || '&nbsp;'}}</td>
			<td>{{bm.logic || '&nbsp;'}}</td>
			<td>{{bm.bm_aiolh || '&nbsp;'}}</td>
			<td>{{bm.bm_aiorh || '&nbsp;'}}</td>
			<td>{{bm.logic || '&nbsp;'}}</td>
			<td>{{bm.bm_aiolv || '&nbsp;'}}</td>
			<td>{{bm.bm_aiorv || '&nbsp;'}}</td>
			<td>{{bm.bm_safe_current || '&nbsp;'}}</td>
			<td>{{bm.bm_in_use || '&nbsp;'}}</td>
		</tr>
		</tbody>
	</table>
</div>

{% endverbatim %}