{% load verbatim %}
{% verbatim %}

<div class="alert" ng-class="{'alert-success': alert.success, 'alert-danger': !alert.success}" ng-show="alert.show">
	<button type="button" class="close" ng-click="closeAlert()">&times;</button>
	<strong>{{alert.title}}</strong> {{alert.body}}
</div>

<div class="table-responsive">
	<table class="table table-bordered table-hover table-condensed">
		<tr>
			<th>Name</th>
			<th>Shape</th>
			<th>Logic</th>
			<th>Code</th>
			<th></th>
		</tr>
		<tr ng-repeat="logic in logicArr">
			<td><span class="edit-wrapper"><a href="#" class="edit" editable-text="logic.name">{{logic.name || '&nbsp;'}}</a></span></td>
			<td><span class="edit-wrapper"><a href="#" class="edit" editable-text="logic.shape">{{logic.shape || '&nbsp;'}}</a></span></td>
			<td><span class="edit-wrapper"><a href="#" class="edit" editable-text="logic.logic">{{logic.logic || '&nbsp;'}}</a></span></td>
			<td><span class="edit-wrapper"><a href="#" class="edit" editable-text="logic.code">{{logic.code || '&nbsp;'}}</a></span></td>
			<td><button class="btn btn-default">Approve</button></td>
		</tr>
		<tr ng-if="newLogic">
			<td ng-repeat="prop in newLogic.retrieve">
				<span class="form-group" ng-class="{'has-error': error[prop]}">
					<input type="text" ng-model="newLogic[prop]" class="form-control input-sm" id="inputSuccess1" />
				</span>
			</td>
			<td>
				<button ng-click="saveItem(newLogic)" class="btn btn-warning">Add</button>
				<button ng-click="cancel()" class="btn btn-default">Cancel</button>
			</td>
		</tr>
		<tr>
			<td colspan="5"><button ng-click="addRow()" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> Add new logic</button></td>
		</tr>
	</table>
</div>

{% endverbatim %}