{% load verbatim %}
{% verbatim %}

<div>
	<ul class="nav nav-tabs">
		<li ng-class="{active: urlTab == 'bm'}"><a href="#/status/{{urlStatus}}/tab/bm/bm/">AI-BM</a></li>
		<li ng-class="{active: urlTab == 'id'}"><a href="#/status/{{urlStatus}}/tab/id/id/">AI-ID</a></li>
		<li ng-class="{active: urlTab == 'logic'}"><a href="#/status/{{urlStatus}}/tab/logic/logic/">Logic</a></li>
	</ul>
</div>

<br />

{% endverbatim %}
{% if user.is_authenticated %}
<div ng-class="{'alert_placeholder': urlStatus == 'editable'}">
{% else %}
<div>
{% endif %}
{% verbatim %}
	<div class="alert" ng-class="{'alert-success': alert.success, 'alert-danger': !alert.success}" ng-show="alert.show">
		<button type="button" class="close" ng-click="closeAlert()">&times;</button>
		<strong>{{alert.title}}</strong> {{alert.body}}
	</div>
</div>


{% endverbatim %}
{% if user.is_authenticated %}
	<div ng-if="urlStatus == 'editable'" class="table-responsive">
{% else %}
	<div ng-if="false" class="table-responsive">
{% endif %}
{% verbatim %}

	<table class="table table-bordered table-hover table-condensed">
		<tr>
			<th>Name</th>
			<th>Shape</th>
			<th>Logic</th>
			<th>Code</th>
			<th></th>
		</tr>
		<tbody>
		<tr ng-repeat="logic in logicArr" ng-class="{'warning': logic.num > 0}">
			<td ng-class="{'danger': logic.status == 2}">
				<span ng-if="logic.num == 0" class="edit-wrapper">
					<a href="#" onbeforesave="updateItem(logic, 'name', $data)" class="edit" editable-text="logic.name">{{logic.name || '&nbsp;'}}</a>
				</span>
				<span ng-if="logic.num > 0">
					{{logic.name || '&nbsp;'}}
				</span>
			</td>
			<td ng-class="{'danger': logic.status == 2}">
				<span ng-if="logic.num == 0" class="edit-wrapper">
					<a href="#" onbeforesave="updateItem(logic, 'shape', $data)" class="edit" editable-text="logic.shape">{{logic.shape || '&nbsp;'}}</a>
				</span>
				<span ng-if="logic.num > 0">
					{{logic.shape || '&nbsp;'}}
				</span>
			</td>
			<td ng-class="{'danger': logic.status == 2}">
				<span ng-if="logic.num == 0" class="edit-wrapper">
					<a href="#" onbeforesave="updateItem(logic, 'logic', $data)" class="edit" editable-text="logic.logic">{{logic.logic || '&nbsp;'}}</a>
				</span>
				<span ng-if="logic.num > 0">
					{{logic.logic || '&nbsp;'}}
				</span>
			</td>
			<td ng-class="{'danger': logic.status == 2}">
				<span ng-if="logic.num == 0" class="edit-wrapper">
					<a href="#" onbeforesave="updateItem(logic, 'code', $data)" class="edit" editable-text="logic.code">{{logic.code || '&nbsp;'}}</a>
				</span>
				<span ng-if="logic.num > 0">
					{{logic.code || '&nbsp;'}}
				</span>
			</td>
			<td>
				<span ng-if="logic.num == 0">
					<button ng-click="approveLogic(logic)" class="btn" ng-class="{'btn-danger': logic.status == 2, 'btn-default': logic.status == 3}">Approve</button>
					<button ng-click="deleteLogic(logic)" class="btn btn-default">Delete</button>
				</span>
				<span ng-if="logic.num > 0">
					Logic in use
				</span>
			</td>
		</tr>
		<tr ng-if="newLogic">
			<td ng-repeat="prop in newLogic.save" class="danger">
				<span class="form-group" ng-class="{'has-error': error[prop]}">
					<input type="text" ng-model="newLogic[prop]" class="form-control input-sm" id="inputSuccess1" />
				</span>
			</td>
			<td>
				<button ng-click="saveItem(newLogic)" class="btn btn-warning">Add</button>
				<button ng-click="cancel()" class="btn btn-default">Cancel</button>
			</td>
		</tr>
		<tr>
			<td colspan="5"><button ng-click="addRow()" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> Add new logic</button></td>
		</tr>
		</tbody>
	</table>
</div>

{% endverbatim %}
{% if user.is_authenticated %}
<div ng-if="urlStatus != 'editable'" class="table-responsive">
{% else %}
<div ng-if="true" class="table-responsive">
{% endif %}
{% verbatim %}


	<table class="table table-bordered table-hover table-condensed">
		<tr>
			<th>Name</th>
			<th>Shape</th>
			<th>Logic</th>
			<th>Code</th>
		</tr>
		<tbody>
		<tr ng-repeat="logic in logicArr">
			<td>{{logic.name || '&nbsp;'}}</td>
			<td>{{logic.shape || '&nbsp;'}}</td>
			<td>{{logic.logic || '&nbsp;'}}</td>
			<td>{{logic.code || '&nbsp;'}}</td>
		</tr>
		</tbody>
	</table>
</div>

{% endverbatim %}