{% verbatim %}
<div>
	<!-- Left navigation -->
	<div class="container-left">
		<div id="load_filters" class="well container-scroll">
			<div app-view-segment="1"></div>
		</div>
	</div>

	<div class="container-resize">
		<div id="container-resize"></div>
	</div>

	<!-- List of Logs -->
	<a name="#top"></a>
	<div class="container-middle">
		<div id="load_devices" class="well container-scroll-middle">
			<div app-view-segment="2"></div>
		</div>
	</div>

	<div class="container-resize2">
		<div id="container-resize2"></div>
	</div>

	<!-- Details view -->
	<a name="#view"></a>
	<div class="container-right">
		<div app-view-segment="3"></div>
	</div>
</div>
{% endverbatim %}