<!DOCTYPE html>
<html ng-app="conversion">
	<head>
		<title>Unit Conversion</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/magnetsapp/style.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/flot.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/jquery-ui-1.10.3.custom.min.css">

		<link rel="shortcut icon" href="../../static/img/favicon.png">
	</head>
	<body ng-controller="indexCtrl">
		<a name="top"></a>

		<div id="contents" app-view-segment="0"></div>

		<!-- Back to top button -->
		<div id="back_to_top_button" ng-click="top()">
			<i class="icon-chevron-up icon-white"></i>
		</div>

		<!-- Import javascript files
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../../static/js/jquery-2.0.3.min.js"></script>
		<script src="../../static/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="../../static/js/bootstrap.min.js"></script>

		<script src="../../static/js/master_configuration.js"></script>
		<script src="../../static/js/app/configuration.js"></script>
		<script src="../../static/js/app/common.js"></script>

		<script src="../../static/js/angular.min.js"></script>
		<script src="../../static/js/angular-resource.min.js"></script>
		<script src="../../static/js/angular-animate.min.js"></script>
		<script src="../../static/js/angular-route.min.js"></script>
		<script src="../../static/js/angular-route-segment.min.js"></script>
		<script src="../../static/js/ui-bootstrap-tpls-0.6.0.min.js"></script>
		<script src="../../static/js/app/app.js"></script>
		<script src="../../static/js/app/values.js"></script>
		<script src="../../static/js/app/controllers.js"></script>
		<script src="../../static/js/app/services.js"></script>
		<script src="../../static/js/idodsapp/common.js"></script>
		<script src="../../static/js/idodsapp/values.js"></script>
		<script src="../../static/js/idodsapp/services.js"></script>
		<script src="../../static/js/app/directives.js"></script>

		<script src="../../static/js/jquery.flot.min.js"></script>
		<script src="../../static/js/jquery.flot.navigate.min.js"></script>
		<script src="../../static/js/jquery.flot.resize.min.js"></script>

	</body>
</html>