{% verbatim %}
<div class="form_search" id="form-search">
	<input type="text" placeholder="Filter devices ..." id="search-query" ng-model="device_filter" class="search_input">
</div>
<div ng-repeat="device in devices | filter:device_filter" ng-click="showDetails(device)" ng-class="{'device_click': device.serialNumber == id}" class="device {{device.click}} {{device.color}}">
	<input type="hidden" name="id" value="{{device.serialNumber}}" />
	<p class="text-info">Serial number: <b>{{device.serialNumber}}</b></p>
	Name: <b>{{device.name}}</b><br/>
	Component type: <b>{{device.componentType}}</b><br/>
	System: <b>{{device.system}}</b><br/>
	Installation id: <b>{{device.installId}}</b><br/>
	Inventory id: <b>{{device.inventoryId}}</b><br/>
	Vendor: <b>{{device.vendor}}</b><br/>
	Description: <b>{{device.typeDescription}}</b>
	<br />
</div>
{% endverbatim %}