{% load verbatim %}
{% verbatim %}

<!DOCTYPE html>
<html ng-app="measurementData">
	<head>
		<title>Measurement data</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/measurement-data-style.css">

		<link rel="shortcut icon" href="static/img/favicon.png">
	</head>
	<body ng-controller="measurementDataCtrl">

		<h2>Measurement data</h2>
		<table class="table table-bordered table-striped table-hover">
			<tr>
				<th ng-repeat="(column, row) in convertedData[0]" ng-bind="column | uppercase"></th>
			</tr>
			<tr ng-repeat="row in convertedData">
				<td ng-repeat="(columnValue, rowValue) in row" ng-bind="rowValue"></td>
			</tr>
		</table>

		<!-- Import javascript files
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../../static/js/jquery-2.0.3.min.js"></script>
		<script src="../../static/js/master_configuration.js"></script>
		<script src="../../static/js/app/configuration.js"></script>
		<script src="../../static/js/app/common.js"></script>

		<script src="../../static/js/angular.min.js"></script>
		<script src="../../static/js/angular-resource.min.js"></script>
		<script src="../../static/js/angular-animate.min.js"></script>
		<script src="../../static/js/angular-route.min.js"></script>
		<script src="../../static/js/angular-route-segment.min.js"></script>
		<script src="../../static/js/ui-bootstrap-tpls-0.6.0.min.js"></script>
		<script src="../../static/js/newwindowapp/app.js"></script>
		<script src="../../static/js/newwindowapp/controllers.js"></script>

	</body>
</html>

{% endverbatim %}