{% load verbatim %}
{% verbatim %}

<div class="details_data_tabs">
	<ul class="nav nav-tabs">
		<li class="active"><a href ng-click="goToMuniconv()">Municonv</a></li>
		<li><a href ng-click="goToMuniconvChain()">MuniconvChain</a></li>
	</ul>
</div>

<div ng-repeat="(key, value) in municonv">

	<div class="">
		<label class="checkbox">
			<input ng-model="rawData[id]['municonv'][key]" type="checkbox"> <span>{{key}}</span>
		</label>
		<br/>
		<label>Description</label>
		<input ng-model="rawData[id]['municonv'][key].description" type="text" placeholder="Enter description ...">
		<br/>
		<label>Default Energy</label>
		<input ng-model="rawData[id]['municonv'][key].defaultEnergy" type="text" placeholder="Enter default Energy ...">

		<table class="table table-bordered table-condensed">
			<tr>
				<th>Id</th>
				<th>Type</th>
				<th>Function</th>
				<th>Init unit</th>
				<th>Dest unit</th>
				<th></th>
				<th></th>
			</tr>
			<tr ng-repeat="(id, otherValues) in rawData[id]['municonv'][key].algorithms">
				<td>{{id}}</td>
				<td>{{otherValues.type}}</td>
				<td>{{otherValues.function}}</td>
				<td>{{otherValues.initialUnit}}</td>
				<td>{{otherValues.resultUnit}}</td>
				<td><a href="#">Edit</a></td>
				<td><a href="#">Delete</a></td>
			</tr>
			<tr>
				<td colspan="7">
					<button class="btn btn-info"><i class="icon-plus icon-white"></i> Add {{key}} algorithm</button>
				</td>
			</tr>
		</table>
	</div>
</div>

{% endverbatim %}