{% load verbatim %} {% verbatim %}
<div class="clear"></div>
<div id="search_form">
	<div class="">
		<h5>Search for devices</h5>
	</div>

	<div>
		Search in:
	</div>
	<div>
		<label class="radio">
			<input type="radio" name="type" ng-model="search.type" value="inventory" />
			Inventory
		</label>
		<label class="radio">
			<input type="radio" name="type" ng-model="search.type" value="install" checked="checked" />
			Installation
		</label>
		<br />
	</div>
	<div class="{{search.displaySystem}}">
		System:
		<br />
		<input class="search_field" ng-enter="searchForDevices(search)" type="text" ng-model="search.system" name="system" typeahead="system for system in systems | filter:$viewValue | limitTo:8" />
		<br />
		<br />
	</div>
	<div class="{{search.displayName}}">
		Name:
		<br />
		<input class="search_field" ng-enter="searchForDevices(search)" type="text" ng-model="search.name" name="name" />
		<br />
		<br />
	</div>
	<div>
		Component type:
		<br />
		<input class="search_field" ng-enter="searchForDevices(search)" type="text" ng-model="search.cmpnt_type" name="cmpnt_type" />
		<br />
		<br />
	</div>
	<div>
		Serial number:
		<br />
		<input class="search_field" ng-enter="searchForDevices(search)" type="text" ng-model="search.serialno" name="serialno" />
		<br />
		<br />
	</div>
	<div>
		<button ng-click="searchForDevices(search)" class="btn">Search</button>
	</div>
</div>
{% endverbatim %}