/*
 * Flot styles
 *
 * @author: Dejan Dežman <dejan.dezman@cosylab.com>
 */

#placeholder {
	width: 700px;
	height: 400px;
	margin-left: 25px;
}

.placeholder {
	width: 100%;
	height: 100%;
}

.placeholder_hidden {
	display: none;
}

.axisLabel {
	position: absolute;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}

.yaxisLabel {
	left: 2px;
	width: 400px;
	text-align: center;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform:  rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.yaxis2Label {
	right: -370px;
	width: 400px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform:  rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.xaxisLabel {
	left: 50%;
	bottom: 2px;
}

.zoom, .pan {
	padding-left: 3px;
	padding-right: 3px;
	position:absolute;
	cursor: pointer;
}

.zoom_in {
	margin: 0;
	padding: 0;
	right:65px;
	top:20px;
	background-image: url('../img/plus.png');
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.zoom_out {
	margin: 0;
	padding: 0;
	right:85px;
	top:20px;
	background-image: url('../img/minus.png');
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.pan_up {
	margin: 0;
	padding: 0;
	right:75px;
	top:45px;
	background-image: url('../img/icon_up.png');
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.pan_left {
	margin: 0;
	padding: 0;
	right:90px;
	top:60px;
	background-image: url('../img/icon_left.png');
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.pan_down {
	margin: 0;
	padding: 0;
	right:75px;
	top:75px;
	background-image: url('../img/icon_down.png');
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.pan_right {
	margin: 0;
	padding: 0;
	right:60px;
	top:60px;
	background-image: url('../img/icon_right.png');
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.resize_container {
	box-sizing: border-box;
	border: 1px solid white;
	cursor: auto;
	width: 900px;
	height: 400px;
	padding: 20px 50px 20px 50px;
	margin-left: 30px;
}

.resize_container_border {
	border: 1px solid black;
}