{% load verbatim %} {% verbatim %}
<div class="clear"></div>
<div id="search_form">
	<div class="">
		<h5>Select view</h5>
	</div>
	<div ng-repeat="type in masterTypes">
		<label class="radio">
			<input type="radio" name="master" ng-value="type.name" ng-model="$parent.group"> {{type.value}}
		</label>
	</div>
	<br/>
	<div>
		<select ng-model="search.type" ng-options="s.value for s in dataTypes[group]" ng-change="changeEntity()"></select>
		<br />
		<br />
	</div>
	<div class="">
		<h5>Display</h5>
	</div>
	<div class="">
		<label class="radio">
			<input type="radio" ng-model="display" name="optionsRadios" id="optionsRadios1" value="online_data">
			Online data
		</label>

		<label class="radio">
			<input type="radio" ng-model="display" name="optionsRadios" id="optionsRadios2" value="offline_data">
			Offline data
		</label>

		<br />
	</div>

	<div class="">
		<h5>Browse</h5>
	</div>
	<div id="tree" compile="tree"></div>
</div>
{% endverbatim %}