{% load verbatim %} {% verbatim %}
<div class="clear"></div>
<div id="search_form">
	<div class="">
		<h5>Search</h5>
	</div>

	<div>
		<select ng-model="search.type" ng-options="s.value for s in dataTypes" ng-change="changeEntity()"></select>
		<br />
		<br />
	</div>
	<div class="">
		Display:
		
		<label class="radio">
			<input type="radio" ng-model="display" name="optionsRadios" id="optionsRadios1" value="online_data">
			Online data
		</label>

		<label class="radio">
			<input type="radio" ng-model="display" name="optionsRadios" id="optionsRadios2" value="offline_data">
			Offline data
		</label>
		
		<br />
	</div>

	<div id="tree" compile="tree"></div>
</div>
{% endverbatim %}