{% load verbatim %} {% verbatim %}
<div class="clear"></div>
<div id="search_form">
	<div class="">
		<h5>Search</h5>
	</div>

	<div>
		<select ng-model="group" ng-options="type.name as type.value for type in masterTypes"></select>
		<select ng-model="search.type" ng-options="s.value for s in dataTypes[group]" ng-change="changeEntity()"></select>
		<br />
		<br />
	</div>

	<div class="">
		Description:
		<br />
		<input class="search_field" ng-enter="searchForItem(search)" type="text" ng-model="search.description" name="description" />
		<br />
		<br />
	</div>
	<div class="">
		<button ng-click="searchForItem(search)" class="btn">Search</button>
	</div>

	<hr />

	<div class="">
		<button ng-click="showTree(search)" class="btn">Show tree</button>
	</div>
</div>
{% endverbatim %}