{% load verbatim %} {% verbatim %}
<div class="clear"></div>
<div id="search_form">
	<div class="">
		<h5>Select view</h5>
	</div>
	<div ng-repeat="type in masterTypes">
		<label class="radio">
			<input type="radio" name="master" ng-value="type.name" ng-model="$parent.group"> {{type.value}}
		</label>
	</div>
	<br/>
	<div>
		<select ng-model="search.type" ng-options="s.value for s in dataTypes[group]" ng-change="changeEntity()"></select>
		<br />
		<br />
	</div>
	<div class="">
		<h5>Search</h5>
	</div>
	<div class="">
		Inventory Name:
		<br />
		<input class="search_field" ng-enter="searchForItem(search)" type="text" ng-model="search.inv_name" name="inv_name" />
		<br />
		<br />
	</div>
	<div class="">
		Install Name:
		<br />
		<input class="search_field" ng-enter="searchForItem(search)" type="text" ng-model="search.install_name" name="install_name" />
		<br />
		<br />
	</div>
	<div class="">
		<button ng-click="searchForItem(search)" class="btn">Search</button>
	</div>
</div>
{% endverbatim %}