{% load verbatim %} {% verbatim %}
<div class="clear"></div>
<div id="search_form">
	<div class="">
		<h5>Search</h5>
	</div>

	<div>
		<select ng-model="search.type" ng-options="s.value for s in dataTypes" ng-change="changeEntity()"></select>
		<br />
		<br />
	</div>
	<div class="">
		Inventory name:
		<br />
		<input class="search_field" ng-enter="searchForItem(search)" type="text" ng-model="search.inventory_name" name="inventory_name" />
		<br />
		<br />
	</div>
	<div class="">
		Description:
		<br />
		<input class="search_field" ng-enter="searchForItem(search)" type="text" ng-model="search.description" name="description" />
		<br />
		<br />
	</div>
	<div class="">
		<button ng-click="searchForItem(search)" class="btn">Search</button>
	</div>
</div>
{% endverbatim %}