{% load verbatim %} {% verbatim %}
<div class="clear"></div>
<div id="search_form">
	<div class="">
		<h5>Select view</h5>
	</div>
	<div ng-repeat="type in masterTypes">
		<label class="radio">
			<input type="radio" name="master" ng-value="type.name" ng-model="$parent.group"> {{type.value}}
		</label>
	</div>
	<br/>
	<div>
		<select ng-model="search.type" ng-options="s.value for s in dataTypes[group]" ng-change="changeEntity()"></select>
		<br />
		<br />
	</div>
	<div class="">
		<h5>Search</h5>
	</div>
	<div class="">
		Install name:
		<br />
		<input class="search_field" ng-enter="searchForItem(search)" type="text" ng-model="search.install_name" name="install_name" />
		<br />
	</div>
	<div class="">
		Description:
		<br />
		<input class="search_field" ng-enter="searchForItem(search)" type="text" ng-model="search.description" name="description" />
		<br />
	</div>
	<div class="">
		Date (from, to) YYYY-MM-DD:
		<br />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.date_from" />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.date_to" />
		<br />
	</div>
	<div class="">
		Gap (from, to):
		<br />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.gap_from" />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.gap_to" />
		<br />
	</div>
	<div class="">
		Phase 1 (from, to):
		<br />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.phase1_from" />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.phase1_to" />
		<br />
	</div>
	<div class="">
		Phase 2 (from, to):
		<br />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.phase2_from" />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.phase2_to" />
		<br />
	</div>
	<div class="">
		Phase 3 (from, to):
		<br />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.phase3_from" />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.phase3_to" />
		<br />
	</div>
	<div class="">
		Phase 4 (from, to):
		<br />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.phase4_from" />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.phase4_to" />
		<br />
	</div>
	<div class="">
		Phase mode (from, to):
		<br />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.phasemode_from" />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.phasemode_to" />
		<br />
	</div>
	<div class="">
		Polar mode (from, to):
		<br />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.polarmode_from" />
		<input class="search_field_half" ng-enter="searchForItem(search)" type="text" ng-model="search.polarmode_to" />
		<br />
	</div>
	<div class="">
		Data status:
		<br />
		<select ng-model="search.status" ng-options="s.name as s.value for s in statusArr2"></select>
		<br />
	</div>
	<div class="">
		Method name:
		<br />
		<input class="search_field" ng-enter="searchForItem(search)" type="text" ng-model="search.method_name" />
		<br />
	</div>
	<div class="">
		<button ng-click="searchForItem(search)" class="btn">Search</button>
	</div>
</div>
{% endverbatim %}