{% load verbatim %}
{% verbatim %}

<a name="{{scroll.scroll}}"></a>

<div ng-if="compare.show == false">
	<div class="details_data">
		<div id="raw"></div>
		<h3>Lattice Info</h3>

		<table class="table">
			<tr ng-if="lattice.latticeid">
				<td><b>Id: </b></td>
				<td><span class="text-info">{{lattice.latticeid}}</span></td>
			</tr>
			<tr ng-if="lattice.name">
				<td><b>Name: </b></td>
				<td><span class="text-info">{{lattice.name}}</span></td>
			</tr>
			<tr ng-if="lattice.version">
				<td><b>Version: </b></td>
				<td><span class="text-info">{{lattice.version}}</span></td>
			</tr>
			<tr ng-if="lattice.branch">
				<td><b>Branch: </b></td>
				<td><span class="text-info">{{lattice.branch}}</span></td>
			</tr>
			<tr ng-if="lattice.creator">
				<td><b>Creator: </b></td>
				<td><span class="text-info">{{lattice.creator}}</span></td>
			</tr>
			<tr ng-if="lattice.originalDate">
				<td><b>Original Date: </b></td>
				<td><span class="text-info">{{lattice.originalDate}}</span></td>
			</tr>
			<tr ng-if="lattice.latticeType">
				<td><b>Lattice Type: </b></td>
				<td><span class="text-info">{{lattice.latticeType}}</span></td>
			</tr>
			<tr ng-if="lattice.latticeFormat">
				<td><b>Lattice Format: </b></td>
				<td><span class="text-info">{{lattice.latticeFormat}}</span></td>
			</tr>
			<tr ng-if="lattice.description">
				<td><b>Description: </b></td>
				<td><span class="text-info">{{lattice.description}}</span></td>
			</tr>
			<tr ng-if="lattice.updated">
				<td><b>Updated: </b></td>
				<td><span class="text-info">{{lattice.updated}}</span></td>
			</tr>
			<tr ng-if="lattice.lastModified">
				<td><b>Last Modified: </b></td>
				<td><span class="text-info">{{lattice.lastModified}}</span></td>
			</tr>
		</table>

		<br/>
		<br/>

		<div ng-if="latticeModels[0]">
			<h3>Lattice Models</h3>

			<table class="table table-bordered">
				<tr>
					<th ng-repeat="(prop, data) in latticeModels[0]">{{prop | firstLetterUppercase}}</th>
				</tr>
				<tr ng-repeat="model in latticeModels">
					<td ng-repeat="(propBody, dataBody) in model" ng-bind-html="dataBody"></td>
				</tr>
			</table>
			<br/>
		</div>

		<button class="btn btn-info" ng-click="showData()">Show data in a table</button>
		<a class="btn btn-info" href="{{raw.url}}" >Download the original file</a>

		<br/>

		<div ng-if="raw.table">
			<h3>Lattice</h3>
			<table class="table table-bordered" id="lattice_table" compile="raw.table">
			</table>
		</div>
	</div>
</div>

<div ng-if="compare.show == true">
	<div class="details_data">
		<h3>Compare lattices</h3>

		<form class="form-search">
			<input type="text" ng-model="filter.deviceName" id="lattice_table2_filter" placeholder="Enter device name ..." />
			<br/>
			<br/>
			<label class="checkbox">
				<input ng-model="filter.showOnlyDifferent" type="checkbox" /> Show only different devices
			</label>
			<br/>
			<br/>
			<button ng-click="filterLattice()" class="btn"><i class="icon-filter"></i> Filter lattice table</button>
		</form>

		{{compare.message}}

		<table class="table table-bordered" id="lattice_table2" compile="raw.table">
		</table>

		<div ng-show="raw.latticeDetails.length > 1">
			<a name="details"></a>
			<h3>Details</h3>

			<table class="table table-bordered">
				<tr>
					<th colspan="2" ng-bind="raw.deviceName"></th>
				</tr>
				<tr>
					<th>property \ name</th>
					<th ng-repeat="(name, data) in raw.lattices">{{name}}</th>
				</tr>
				<tr ng-repeat="line in raw.latticeDetails" ng-class="{diff_orange: (line.color == 'diff')}">
					<td>{{line.property}}</td>
					<td ng-repeat="(name, data) in raw.lattices">{{line[name]}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

{% endverbatim %}