{% load verbatim %}
{% verbatim %}

<a name="{{scroll.scroll}}"></a>

<div ng-if="compare.show == false">
	<div class="details_data">
		<div id="raw"></div>
		<h3>Lattice Info</h3>

		<table class="table">
			<tr ng-if="lattice.name">
				<td><b>Name: </b></td>
				<td><span class="text-info">{{lattice.name}}</span></td>
			</tr>
			<tr ng-if="lattice.version">
				<td><b>Version: </b></td>
				<td><span class="text-info">{{lattice.version}}</span></td>
			</tr>
			<tr ng-if="lattice.branch">
				<td><b>Branch: </b></td>
				<td><span class="text-info">{{lattice.branch}}</span></td>
			</tr>
			<tr ng-if="lattice.creator">
				<td><b>Creator: </b></td>
				<td><span class="text-info">{{lattice.creator}}</span></td>
			</tr>
			<tr ng-if="lattice.originalDate">
				<td><b>Original Date: </b></td>
				<td><span class="text-info">{{lattice.originalDate}}</span></td>
			</tr>
			<tr ng-if="lattice.latticeType">
				<td><b>Lattice Type: </b></td>
				<td><span class="text-info">{{lattice.latticeType}}</span></td>
			</tr>
			<tr ng-if="lattice.latticeFormat">
				<td><b>Lattice Format: </b></td>
				<td><span class="text-info">{{lattice.latticeFormat}}</span></td>
			</tr>
			<tr ng-if="lattice.description">
				<td><b>Description: </b></td>
				<td><span class="text-info">{{lattice.description}}</span></td>
			</tr>
			<tr ng-if="lattice.updated">
				<td><b>Updated: </b></td>
				<td><span class="text-info">{{lattice.updated}}</span></td>
			</tr>
			<tr ng-if="lattice.lastModified">
				<td><b>Last Modified: </b></td>
				<td><span class="text-info">{{lattice.lastModified}}</span></td>
			</tr>
		</table>

		<br/>

		<button class="btn" ng-click="downloadFile()">Download the original file</button>

		<br/>
		<br/>

		<div ng-if="latticeModels[0]">
			<h3>Lattice Models</h3>

			<table class="table table-bordered">
				<tr>
					<th ng-repeat="(prop, data) in latticeModels[0]">{{prop | firstLetterUppercase}}</th>
				</tr>
				<tr ng-repeat="model in latticeModels">
					<td ng-repeat="(propBody, dataBody) in model" ng-bind-html="dataBody"></td>
				</tr>
			</table>
			<br/>
		</div>

		<h3>Lattice</h3>
		<div ng-if="raw.show" class="loader">Loading data ...</div>

		<table class="table table-bordered" id="lattice_table">
		</table>
	</div>
</div>

<div ng-if="compare.show == true">
	<div class="details_data">
		<h3>Compare lattices</h3>

		{{compare.message}}

		<table class="table table-bordered" id="lattice_table2">
		</table>
	</div>
</div>

{% endverbatim %}