{% load verbatim %} {% verbatim %}
<div class="form_search" id="form-search">
	<input type="text" placeholder="Filter lattice ..." id="search-query" ng-model="lattice_filter" class="search_input">
</div>
<div ng-repeat="lattice in lattices | filter:lattice_filter" ng-click="showDetails(lattice)" class="lattice {{lattice.click}} {{lattice.color}}">
	<table>
		<tr ng-if="lattice.name">
			<td><b>Name: </b></td>
			<td><span class="text-info">{{lattice.name}}</span></td>
		</tr>
		<tr ng-if="lattice.version">
			<td><b>Version: </b></td>
			<td><span class="text-info">{{lattice.version}}</span></td>
		</tr>
		<tr ng-if="lattice.branch">
			<td><b>Branch: </b></td>
			<td><span class="text-info">{{lattice.branch}}</span></td>
		</tr>
		<tr ng-if="lattice.creator">
			<td><b>Creator: </b></td>
			<td><span class="text-info">{{lattice.creator}}</span></td>
		</tr>
		<tr ng-if="lattice.originalDate">
			<td><b>Org Dat: </b></td>
			<td><span class="text-info">{{lattice.originalDate}}</span></td>
		</tr>
		<tr ng-if="lattice.latticeType">
			<td><b>Lat Tp: </b></td>
			<td><span class="text-info">{{lattice.latticeType}}</span></td>
		</tr>
		<tr ng-if="lattice.latticeFormat">
			<td><b>Lat Fmt: </b></td>
			<td><span class="text-info">{{lattice.latticeFormat}}</span></td>
		</tr>
		<tr ng-if="lattice.description">
			<td><b>Desc: </b></td>
			<td><span class="text-info">{{lattice.description}}</span></td>
		</tr>
	</table>
</div>
{% endverbatim %}