{% load verbatim %} {% verbatim %}
<div class="form_search" id="form-search">
	<input type="text" placeholder="Filter lattice ..." id="search-query" ng-model="lattice_filter" class="search_input">
	<button ng-show="comparison.length > 1" class="btn compare_btn" ng-click="compareLattice()">Compare lattices</button>
	<button ng-show="comparison.length > 1" class="btn compare_btn" ng-click="clearSelection()">Clear selection</button>
</div>
<div ng-repeat="lattice in lattices | filter:lattice_filter" class="lattice {{lattice.click}} {{lattice.color}}">

	<label class="checkbox">
		<input type="checkbox" ng-change="setCompareData()" ng-model="comparison.data[lattice.name + '|||' + lattice.branch + '|||' + lattice.version]"> Select for comparison
	</label>

	<table ng-click="showDetails(lattice)">
		<tr ng-if="lattice.latticeid">
			<td><b>Id: </b></td>
			<td class="lattice_list"><span class="text-info">{{lattice.latticeid}}</span></td>
		</tr>
		<tr ng-if="lattice.name">
			<td><b>Name: </b></td>
			<td class="lattice_list"><span class="text-info">{{lattice.name}}</span></td>
		</tr>
		<tr ng-if="lattice.version">
			<td><b>Version: </b></td>
			<td class="lattice_list"><span class="text-info">{{lattice.version}}</span></td>
		</tr>
		<tr ng-if="lattice.branch">
			<td><b>Branch: </b></td>
			<td class="lattice_list"><span class="text-info">{{lattice.branch}}</span></td>
		</tr>
		<tr ng-if="lattice.description">
			<td><b>Desc: </b></td>
			<td class="lattice_list"><span class="text-info">{{lattice.description}}</span></td>
		</tr>
		<tr ng-if="lattice.latticeType">
			<td><b>Type: </b></td>
			<td class="lattice_list"><span class="text-info">{{lattice.latticeType}}</span></td>
		</tr>
	</table>
</div>
{% endverbatim %}