{% load verbatim %}
{% verbatim %}

<a name="{{scroll.scroll}}"></a>

<div class="details_data">
	<div id="raw"></div>
	<h3>Model Info</h3>

	<table class="table">
		<tr ng-repeat="(modelKey, modelValue) in models" ng-hide="modelKey == 'simulationControl' || modelKey == 'simulationControlParsed'">
			<td><b>{{modelKey | firstLetterUppercase}}: </b></td>
			<td><span class="text-info">{{modelValue}}</span></td>
		</tr>
	</table>

	<button class="btn" ng-click="downloadFile()">Download the original file</button>
	<br/>

	<div ng-if="models.simulationControlParsed">
		<h3>Simulation Control</h3>

		<table class="table">
			<tr ng-repeat="simulation in models.simulationControlParsed track by $index" ng-hide="trim(simulation) == ''">
				<td><span class="text-info">{{simulation | clean}}</span></td>
			</tr>
		</table>
	</div>

</div>

{% endverbatim %}