{% load verbatim %} {% verbatim %}
<div class="clear"></div>
<div id="search_form">
	<div class="">
		<h5>Search</h5>
	</div>

	<div>
		Search for:
	</div>
	<div>
		<label class="radio">
			<input type="radio" name="type" ng-model="search.type" value="lattice" checked="checked" />
			Lattice
		</label>
		<label class="radio">
			<input type="radio" name="type" ng-model="search.type" value="model" />
			Model
		</label>
		<br />
	</div>
	<div class="{{search.displayLattice}}">
		Name:
		<br />
		<input class="search_field" ng-enter="searchForLattice(search)" type="text" ng-model="search.name" name="name" />
		<br />
		<br />
	</div>
	<div class="{{search.displayLattice}}">
		Branch:
		<br />
		<input class="search_field" ng-enter="searchForLattice(search)" type="text" ng-model="search.branch" name="branch" />
		<br />
		<br />
	</div>
	<div class="{{search.displayLattice}}">
		Version:
		<br />
		<input class="search_field" ng-enter="searchForLattice(search)" type="text" ng-model="search.version" name="version" />
		<br />
		<br />
	</div>
	<div class="{{search.displayLattice}}">
		Description:
		<br />
		<input class="search_field" ng-enter="searchForLattice(search)" type="text" ng-model="search.desc" name="desc" />
		<br />
		<br />
	</div>
	<div class="{{search.displayLattice}}">
		Creator:
		<br />
		<input class="search_field" ng-enter="searchForLattice(search)" type="text" ng-model="search.creator" name="creator" />
		<br />
		<br />
	</div>
	<div class="{{search.displayLattice}}">
		Status:
		<br />
		<select ng-model="search.status">
			<option ng-repeat="status in statuses" value="{{status.id}}" ng-selected="status.value == search.selected">{{status.value}}</option>
		</select>
		<br />
		<br />
	</div>
	<div class="{{search.displayLattice}}">
		<button ng-click="searchForLattice(search)" class="btn">Search</button>
	</div>

	<div class="{{search.displayModel}}">
		Name:
		<br />
		<input class="search_field" ng-enter="searchForModel(search)" type="text" ng-model="search.name" name="name" />
		<br />
		<br />
	</div>
<!--	<div class="{{search.displayModel}}">
		Description:
		<br />
		<input class="search_field" ng-enter="searchForModel(search)" type="text" ng-model="search.desc" name="desc" />
		<br />
		<br />
	</div>
	<div class="{{search.displayModel}}">
		Creator:
		<br />
		<input class="search_field" ng-enter="searchForModel(search)" type="text" ng-model="search.creator" name="creator" />
		<br />
		<br />
	</div>-->
	<div class="{{search.displayModel}}">
		Status:
		<br />
		<select ng-model="search.status">
			<option ng-repeat="status in modelStatuses" value="{{status.id}}">{{status.value}}</option>
		</select>
		<br />
		<br />
	</div>
	<div class="{{search.displayModel}}">
		<button ng-click="searchForModel(search)" class="btn">Search</button>
	</div>
</div>
{% endverbatim %}