{% extends "user_interface/template.base.html" %}
{% load verbatim %}


{############################ META TITLE ############################}
{% block meta_title %}{% block title %}Search{% endblock %}{% endblock %}

{############################ ADD HEADER CONTENT (CSS) ############################}
{% block add_header_content %}

	<meta http-equiv="cache-control" content="no-cache" />
	
	{% block head_include %}
	<link rel="stylesheet" href="/static/irmisP1.css">
	<link rel="stylesheet" href="/static/no_navbar_and_breadcrumb.css">
 	<script type="text/javascript" src="/static/jquery.min.js"></script>
 	<script type="text/javascript" src="/static/viewcommon.js"></script>
 	<script type="text/javascript" src="/static/uicommon.js"></script>
 	<script type="text/javascript" src="/static/find_template.js"></script>

    <style type="text/css">        
        
		#title {
			margin-bottom: 4px;
		}
		     
    </style>
 	{% endblock %}

{% endblock %}



{############################ ADD FOOTER CONTENT (JAVASCRIPT) ############################}
{% block add_footer_content %}

	<script type="text/javascript">
	</script>
{% endblock %}




{############################ PAGE CONTENT ############################}
{% block content %}
	<form name="form" class="well well-small form-search">
		<input type="hidden" name="callback" id="callback" />
		<input type="hidden" name="limit" value="{{limit}}" />
    	<input type="hidden" name="defaultLimit" value="{{limit}}" />
    	<input type="hidden" name="close_button" />
		<input type="hidden" name="select_filter" />
 	    {% block form_inputs %}{% endblock %}

		<table class="allWidth">
			<tr>
				<td colspan="2">
					<h4>
						<div id="title" class="nowrap">{% block page_title %}Search{% endblock %}</div>
					</h4>
				</td>
				<td align="right">
					<button id="closeButton" class="btn" type="button" onclick="cancel()">Close</button>
				</td>
			</tr>
			<tr{% if remove_search %} style="visibility:collapse"{% endif %}>
				<td>
					<input type="text" class="search-query" name="query" size="30" />
				</td>
				<td>
					<button type="button" class="btn spacingLeft" name="searchButton" onclick="find();">Search</button>
					<button type="button" class="btn" name="clearButton" onclick="clearSearch();">Clear</button>
				</td>
				<!-- The more buttons are hidden by default, then shown when necessary.
				     The hidden class is put on the parent element of moreButtonsPanel so that the html definition does
				     not override the dynamic javascript one. -->
				<td align="right" class="hidden">
					<div id="moreButtonsPanel">
				 		<button type="button" class="btn" onclick="displayMore();"/>Display {{limit}} More</button>
						<button type="button" class="btn" onclick="displayAll();"/>Display All</button>
					</div>
				</td>
			</tr>
		</table>

	</form>

	{% block mainArea %}
	<div id="mainArea">
		<div id="searchResults" class="searchResults">Please wait...</div>
	</div>
	{% endblock %}

	<div align="center">
	 	{% block buttons %}{% endblock %}
	</div>
{% endblock %}
