{% load verbatim %}
{% verbatim %}

<a name="{{scroll.scroll}}"></a>

<div ng-if="action == 'retrieve'">
	<div class="details_data">
		<h3>{{info.retrieve_title}}</h3>

		{% endverbatim %}
			{% if user.is_authenticated %}
			{% verbatim %}
			<button ng-click="updateItem()" class="item_update btn btn-success"><i class="icon-edit icon-white"></i> {{info.retrieve_update_button}}</button>
			{% endverbatim %}
			{% endif %}
		{% verbatim %}


		<table class="table table-bordered">
			<tr>
				<th ng-repeat="property in element.retrieve_show">
					{{element.display[property]}}
				</th>
				<th>Show additional data</th>
			</tr>
			<tr>
				<td ng-repeat="property in element.retrieve_show">
					{{element[property]}}
				</td>
				<td><button onclick="toggleTableRows(this, 'install')" class="btn btn-info">Show</button></td>
			</tr>
			<tr class="info install" style="display: none;">
				<td colspan="3">
					<table class="table table-bordered">
						<tr ng-repeat="property in element.retrieve_hide">
							<td>{{element.display[property]}}</td>
							<td>{{element[property]}}</td>
						</tr>
						<tr ng-repeat="property in element.prop_keys">
							<td>{{property.name}}</td>
							<td>{{property.value}}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<h3>Device in inventory</h3>

		<!-- <table ng-if="map.inventoryname" class="table table-bordered">
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
			<tr>
				<td>Inventory name</td>
				<td>{{map.inventoryname}}</td>
			</tr>
			<tr>
				<td>Inventory <=> install map</td>
				<td><button ng-click="goToMap(map.inventoryname, map.installname, map.id)" class="btn btn-info">Show</button></td>
			</tr>
			<tr>
				<td>Device info</td>
				<td><button ng-click="goToInventory(map.inventoryid)" class="btn btn-info">Show</button></td>
			</tr>
		</table> -->

		<table class="table table-bordered">
			<tr>
				<th ng-repeat="property in inventory.retrieve_show">
					{{inventory.display[property]}}
				</th>
				<th>Show additional data</th>
			</tr>
			<tr>
				<td ng-repeat="property in inventory.retrieve_show">
					{{inventory[property]}}
				</td>
				<td><button onclick="toggleTableRows(this, 'inventory')" class="btn btn-info">Show</button></td>
			</tr>
			<tr class="info inventory" style="display: none;">
				<td colspan="3">
					<table class="table table-bordered">
						<tr ng-repeat="property in inventory.retrieve_hide">
							<td>{{inventory.display[property]}}</td>
							<td>{{inventory[property]}}</td>
						</tr>
						<tr ng-repeat="property in inventory.prop_keys">
							<td>{{property.name}}</td>
							<td>{{property.value}}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<h3>Online data</h3>

		<span ng-if="onlinedata.length == 0">No online data</span>

		<table ng-if="onlinedata.length > 0" class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>data status</th>
					<th>Show additional data</th>
				</tr>
			</thead>
			<tbody ng-repeat="online in onlinedata">
				<tr>
					<td ng-repeat="property in online.retrieve_show">
						<span ng-if="property == 'status'">{{statusMap[online[property]]}}</span>
						<span ng-if="property != 'status'">{{online[property]}}</span>
					</td>

					<td>
						<button ng-click="toggleTableRows($event, 'online_data_', $index)" class="btn btn-info">Show</button>
					</td>
				</tr>
				<tr class="info online_data_{{$index}}" style="display: none;">
					<td colspan="3">
						<table class="table table-bordered">
							<tr ng-repeat="property in online.retrieve_hide">
								<td>{{online.display[property] | iff : online.display[property] : property | firstLetterUppercase}}</td>

								<td ng-if="property != 'script_name' && property != 'data_file_name'">{{online[property]}}</td>

								<td ng-if="property == 'script_name'"><span ng-if="!online.script">Script was not saved!</span><button ng-if="online.script" class="btn btn-info" ng-click="downloadScript(online)">Download script file</button></td>

								<td ng-if="property == 'data_file_name'"><button ng-click="downloadRawData(online)" class="btn btn-info">Download raw file</button></td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>

		<h3>Offline data</h3>

		<span ng-if="offlinedata.length == 0">No offline data</span>

		<table ng-if="offlinedata.length > 0" class="table table-bordered offline_data">
			<thead>
				<tr>
					<th>Id</th>
					<th>data status</th>
					<th>Show additional data</th>
				</tr>
			</thead>
			<tbody ng-repeat="offline in offlinedata">
				<tr>
					<td ng-repeat="property in offline.retrieve_show">
						<span ng-if="property == 'status'">{{statusMap[offline[property]]}}</span>
						<span ng-if="property != 'status'">{{offline[property]}}</span>
					</td>

					<td>
						<button ng-click="toggleTableRows($event, 'offline_data_', $index)" class="btn btn-info">Show</button>
					</td>
				</tr>
				<tr class="info offline_data_{{$index}}" style="display: none;">
					<td colspan="3">
						<table class="table table-bordered">
							<tr ng-repeat="property in offline.retrieve_hide">
								<td>{{offline.display[property] | iff : offline.display[property] : property | firstLetterUppercase}}</td>

								<td ng-if="property != 'script_name' && property != 'data_file_name'">{{offline[property]}}</td>

								<td ng-if="property == 'script_name'"><span ng-if="!offline.script">Script was not saved!</span><button ng-if="offline.script" class="btn btn-info" ng-click="downloadScript(offline)">Download script file</button></td>

								<td ng-if="property == 'data_file_name'"><button ng-click="downloadRawData(offline)" class="btn btn-info">Download raw file</button></td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>

		<span ng-if="!map.inventoryname">Device is not installed!</span>
	</div>
</div>

<div ng-if="action == 'save'">
	<div class="details_data">
		<h3>{{info.save_title}}</h3>

		<div class="alert" ng-class="{'alert-success': alert.success, 'alert-error': !alert.success}" ng-show="alert.show">
			<button type="button" class="close" ng-click="closeAlert()">&times;</button>
			<strong>{{alert.title}}</strong> {{alert.body}}
		</div>

		<table class="table table-bordered">
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
			<tr ng-repeat="property in new.save_show">
				<td>{{new.display[property]}} <span ng-if="new.m.indexOf(property) > -1">*</span></td>
				<td>
					<span class="control-group" ng-class="{'error': error[property]}">
						<span class="controls">

							<select ng-if="property == 'cmpnt_type'" ng-model="new[property]" ng-options="type for type in types"></select>

							<input ng-if="property != 'cmpnt_type'" type="text" ng-model="new[property]" />

							<span class="help-inline">{{error[property]}}</span>
						</span>
					</span>
				</td>
			</tr>
		</table>
		<br/>
		<button ng-click="saveItem(new, 'save')" class="btn btn-success">{{info.save_button}}</button>
		<br/>
		<br/>
		<div>* mandatory field</div>
	</div>
</div>

<div ng-if="action == 'update'">
	<div class="details_data">
		<h3>{{info.update_title}}</h3>

		<div class="alert" ng-class="{'alert-success': alert.success, 'alert-error': !alert.success}" ng-show="alert.show">
			<button type="button" class="close" ng-click="closeAlert()">&times;</button>
			<strong>{{alert.title}}</strong> {{alert.body}}
		</div>

		<table class="table table-bordered">
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
			<tr ng-repeat="property in element.save_show">
				<td>
					{{element.display[property]}} <span ng-if="element.m.indexOf(property) > -1">*</span>
				</td>
				<td>
					<span class="control-group" ng-class="{'error': error[property]}">
						<span class="controls">

							<select ng-if="property == 'cmpnt_type'" ng-model="element[property]" ng-options="type for type in types"></select>

							<input ng-if="property != 'cmpnt_type'" type="text" ng-model="element[property]" />

							<span class="help-inline">{{error[property]}}</span>
						</span>
					</span>
				</td>
			</tr>
		</table>
		<br/>
		<button ng-click="saveItem(element, 'update')" class="btn btn-success">{{info.update_button}}</button>
		<br/>
		<br/>
		<div>* mandatory field</div>
	</div>
</div>
{% endverbatim %}