{% load verbatim %}
{% verbatim %}

<a name="{{scroll.scroll}}"></a>

<div ng-if="action == 'retrieve'">
	<div class="details_data">
		<h3>{{info.retrieve_title}}</h3>
		
		{% endverbatim %}
			{% if user.is_authenticated %}
			<button ng-click="updateItem()" class="item_update btn btn-success"><i class="icon-edit icon-white"></i> {{info.retrieve_update_button}}</button>
			{% endif %}
		{% verbatim %}


		<table class="table table-bordered">
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
			<tr ng-repeat="property in element.retrieve">
				<td>{{element.display[property] | iff : element.display[property] : property | firstLetterUppercase}}</td>
				<td>{{element[property]}}</td>
			</tr>
		</table>
	</div>
</div>

<div ng-if="action == 'save'">
	<div class="details_data">
		<h3>{{info.save_title}}</h3>
		
		<div class="alert" ng-class="{'alert-success': alert.success, 'alert-error': !alert.success}" ng-show="alert.show">
			<button type="button" class="close" ng-click="closeAlert()">&times;</button>
			<strong>{{alert.title}}</strong> {{alert.body}}
		</div>

		<form data-file-upload="options" method="post" enctype="multipart/form-data">

		<table class="table table-bordered">
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
			<tr ng-repeat="property in new.save_show">
				<td>{{new.display[property]}}</td>
				<td>
					<span class="control-group" ng-class="{'error': error[property]}">
						<span class="controls">
							
							<select ng-if="property == 'inventory_name'" ng-model="new[property]" ng-options="inv for inv in inventories"></select>

							<select ng-if="property == 'method_name'" ng-model="new[property]" ng-options="method for method in methods"></select>

							<input ng-if="property != 'inventory_name' && property != 'method_name'" type="text" ng-model="new[property]" />
							
							<span class="help-inline">{{error[property]}}</span>
						</span>
					</span>
				</td>
			</tr>
			<tr>
				<td>
					Raw data
				</td>
				<td>
<!-- 					<span class="control-group" ng-class="{'error': error[property]}">
						<span class="controls">
							
							<input type="text" ng-model="new[property]" />
							
							<span class="help-inline">{{error[property]}}</span>
						</span>
					</span> -->
					<div class="control-group" ng-class="{'error': error.data_id}">
						<span class="btn btn-success fileinput-button">
							<i class="icon-file icon-white"></i>
							<input id="rawFile" type="file" name="file">
						</span>
						{{uploadFileName}}
						<span class="help-inline">{{error.data_id}}</span>
					</div>
				</td>
			</tr>
		</table>

		</form>

		<br/>
		<button ng-click="saveItem('save')" class="btn btn-success">{{info.save_button}}</button>
	</div>
</div>

<div ng-if="action == 'update'">
	<div class="details_data">
		<h3>{{info.update_title}}</h3>
		
		<div class="alert" ng-class="{'alert-success': alert.success, 'alert-error': !alert.success}" ng-show="alert.show">
			<button type="button" class="close" ng-click="closeAlert()">&times;</button>
			<strong>{{alert.title}}</strong> {{alert.body}}
		</div>
		
		<table class="table table-bordered">
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
			<tr ng-repeat="property in element.save_show">
				<td>
					{{element.display[property]}}
				</td>
				<td>
					<span class="control-group" ng-class="{'error': error[property]}">
						<span class="controls">
							
							<input type="text" ng-model="element[property]" />

							<span class="help-inline">{{error[property]}}</span>
						</span>
					</span>
				</td>
			</tr>
		</table>
		<br/>
		<button ng-click="saveItem(element, 'update')" class="btn btn-success">{{info.update_button}}</button>
	</div>
</div>
{% endverbatim %}