{% load verbatim %}
{% verbatim %}

<a name="{{scroll.scroll}}"></a>

<div ng-if="action == 'retrieve'">
	<div class="details_data">
		<h3>{{info.retrieve_title}}</h3>

		{% endverbatim %}
			{% if user.is_authenticated %}
			{% verbatim %}
			<button ng-click="updateItem()" class="item_spacer pull-right btn btn-success"><i class="icon-edit icon-white"></i> {{info.retrieve_update_button}}</button>
			<button ng-click="deleteItem(element.id)" class="pull-right btn btn-danger"><i class="icon-remove icon-white"></i> {{info.retrieve_delete_button}}</button>
			<br/>
			<br/>
			{% endverbatim %}
			{% endif %}
		{% verbatim %}


		<table class="table table-bordered">
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
			<tr ng-repeat="property in element.retrieve">
				<td>{{element.display[property] | iff : element.display[property] : property | firstLetterUppercase}}</td>

				<td ng-if="property != 'script_name' && property != 'data_file_name' && property != 'status'">{{element[property]}}</td>

				<td ng-if="property == 'script_name'"><span ng-if="!element.script">Script was not saved!</span><button ng-if="element.script" class="btn btn-info" ng-click="downloadScript(element)">Download script file</button></td>

				<td ng-if="property == 'data_file_name'"><button ng-click="downloadRawData(element)" class="btn btn-info">Download raw file</button></td>

				<td ng-if="property == 'status'"><select ng-disabled="true" ng-model="element[property]" ng-options="s.name as s.value for s in statusArr"></select></td>
			</tr>
		</table>

		<h3>Device information</h3>

		<table class="table table-bordered">
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
			<tr ng-repeat="property in inventory.retrieve">
				<td>{{inventory.display[property]}}</td>
				<td>{{inventory[property]}}</td>
			</tr>
			<tr ng-repeat="property in inventory.prop_keys">
				<td>{{property.name}}</td>
				<td>{{property.value}}</td>
			</tr>
		</table>
	</div>
</div>

<div ng-if="action == 'save'">
	<div class="details_data">
		<h3>{{info.save_title}}</h3>

		<div class="alert" ng-class="{'alert-success': alert.success, 'alert-error': !alert.success}" ng-show="alert.show">
			<button type="button" class="close" ng-click="closeAlert()">&times;</button>
			<strong>{{alert.title}}</strong> {{alert.body}}
		</div>

		<form data-file-upload="options" method="post" enctype="multipart/form-data">

			<table class="table table-bordered">
				<tr>
					<th>Key</th>
					<th>Value</th>
				</tr>
				<tr ng-repeat="property in new.save_show">
					<td>{{new.display[property]}} <span ng-if="new.m.indexOf(property) > -1">*</span></td>
					<td>
						<span class="control-group" ng-class="{'error': error[property]}">
							<span class="controls">

								<select ng-if="property == 'inventory_name'" ng-model="new[property]" ng-options="inv for inv in inventories"></select>

								<select ng-if="property == 'method_name'" ng-model="new[property]" ng-options="method for method in methods"></select>

								<textarea rows="8" ng-if="property == 'script'" ng-model="new[property]"></textarea>

								<input ng-if="property != 'status' && property != 'inventory_name' && property != 'method_name' && property != 'script'" type="text" ng-model="new[property]" />

								<select ng-if="property == 'status'" ng-model="new[property]" ng-options="s.name as s.value for s in statusArr"></select>

								<span class="help-inline">{{error[property]}}</span>
							</span>
						</span>
					</td>
				</tr>
				<tr>
					<td>
						Raw data
					</td>
					<td>
						<div class="control-group" ng-class="{'error': error.data_id}">
							<span class="btn btn-success fileinput-button">
								<i class="icon-file icon-white"></i>
								<input id="rawFile" type="file" name="file">
							</span>
							{{uploadFileName}}
							<span class="help-inline">{{error.data_id}}</span>
						</div>
					</td>
				</tr>
			</table>

		</form>

		<br/>
		<button ng-click="saveItem('save')" class="btn btn-success">{{info.save_button}}</button>
		<br/>
		<br/>
		<div>* mandatory field</div>
	</div>
</div>

<div ng-if="action == 'update'">
	<div class="details_data">
		<h3>{{info.update_title}}</h3>

		<div class="alert" ng-class="{'alert-success': alert.success, 'alert-error': !alert.success}" ng-show="alert.show">
			<button type="button" class="close" ng-click="closeAlert()">&times;</button>
			<strong>{{alert.title}}</strong> {{alert.body}}
		</div>

		<form data-file-upload="options" method="post" enctype="multipart/form-data">

			<table class="table table-bordered">
				<tr>
					<th>Key</th>
					<th>Value</th>
				</tr>
				<tr ng-repeat="property in element.save_show">
					<td>
						{{element.display[property]}} <span ng-if="element.m.indexOf(property) > -1">*</span>
					</td>
					<td>
						<span class="control-group" ng-class="{'error': error[property]}">
							<span class="controls">

								<select ng-if="property == 'inventory_name'" ng-model="element[property]" ng-options="inv for inv in inventories"></select>

								<select ng-if="property == 'method_name'" ng-model="element[property]" ng-options="method for method in methods"></select>

								<textarea rows="8" ng-if="property == 'script'" ng-model="element[property]"></textarea>

								<input ng-if="property != 'status' && property != 'inventory_name' && property != 'method_name' && property != 'script'" type="text" ng-model="element[property]" />

								<select ng-if="property == 'status'" ng-model="element[property]" ng-options="s.name as s.value for s in statusArr"></select>

								<span class="help-inline">{{error[property]}}</span>
							</span>
						</span>
					</td>
				</tr>
				<tr>
					<td>
						Raw data
					</td>
					<td>
						<div class="control-group" ng-class="{'error': error.data_id}">
							<span class="btn btn-success fileinput-button">
								<i class="icon-file icon-white"></i>
								<input id="rawFile" type="file" name="file">
							</span>
							{{uploadFileName}}
							<span class="help-inline">{{error.data_id}}</span>
						</div>
					</td>
				</tr>
			</table>

		</form>

		<br/>
		<button ng-click="saveItem('update')" class="btn btn-success">{{info.update_button}}</button>
		<br/>
		<br/>
		<div>* mandatory field</div>
	</div>
</div>
{% endverbatim %}