<html>
	<head>
		<title>Magnet Data Service Help</title>
		<link rel="stylesheet" href="/static/irmisP1.css">
	</head>

	<body>
		<div id="title" class="pageTitle">IRMIS3 Magnet Data Service Help</div>
		<ul>
			<li>	
			<div class="boldem2">Under development</div>
			<ul>
				<li>	
					<div class="boldem">This is under development</div>
					This service is to provide a data view for the magnet measurement, and also a function 
					to convert data between different unit system: Engineering (Ampere), Field (Telsa), and
					Physics Model (K).
					<br/>
					More details will come soon...
				</li>
			</ul>
			</li>
		</ul>
	</body>
</html>
